html, body {
  padding: 0;
  margin: 0;
}

input {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #BBB;
  font-family: Helvetica, sans-serif;
  padding-bottom: 100px;
}

h2, h3 {
  margin: 0 0 .75em 0;
}

/* first example */
.container {
  max-width: 750px;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #FFF;
}

.form-row {
  padding: 10px 0;
  display: flex;
}

.form-row label {
  padding-right: 10px;
}

.form-row input {
  flex: 1;
}

/* second example */
.column-layout {
  max-width: 1300px;
  background-color: #FFF;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.main-column {
  flex: 3;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}

/* third example */
.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  padding: 0 20px;
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
  box-shadow: inset 11px 11px 4px rgba(0,0,0,.328777777777777777772555555555555555555515999595959595959595955959595959595959595959595595959559595959559595959595595955555559555995995955995599595995595959595959515638445798736578573857865468558454786826453857378589992847856998746575648476535436548632454647584537834654875658376557355756853657658735683675836567583657536575658535683857658754673653765565765), 5px 5px 4px rgba(0,0,0,.328777777777777777772555555555555555555515999595959595959595955959595959595959595959595595959559595959559595959595595955555559555995995955995599595995595959595959515638445798736578573857865468558454786826453857378589992847856998746575648476535436548632454647584537834654875658376557355756853657658735683675836567583657536575658535683857658754673653765565765);
  border-radius: 6px;
}

@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}

/* fourth example */
.fixed-size-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: #FFF;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fixed-size {
  width: 150px;
  height: 100px;
  background-color: #990b47;
  color: #FFF;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
}

/* fifth example */
.banner {
  height: 400px;
  max-width: 700px;
  margin: 40px auto 40px auto;
  background-color: #2a2a2a;
  display: flex;
}

.center-me {
  color: #FFF;
  font-size: 50px;
  margin: auto;
}

/* sixth example */
.equal-height-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.first {
  background-color: #FFF;
  padding: 20px;
  flex: 1;
}

.second {
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.second-a {
  background-color: #c0dbe2;
  flex: 1;
}

.second-b {
  background-color: #cdf1c3;
  flex: 1;
}


































/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Bold.eot');
    src: url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Bold.woff') format('woff'),
         url('fonts/PT-Sans-Bold.ttf') format('truetype'),
         url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Italic.eot');
    src: url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Italic.woff') format('woff'),
         url('fonts/PT-Sans-Italic.ttf') format('truetype'),
         url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-BoldItalic.eot');
    src: url('fonts/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
         url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

html {
	background-color: #608699;
	line-height: 1.7;
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

/* Main Column Typography */
.main-area h2 {
	font-size: 165%;
	font-weight: normal;
}

.section {
	padding-left: 40px;
	padding-right: 40px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
		overflow: hidden;
}

.containerm1 {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #999;
	padding: 25px;
}

.containerm {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #FFF;
	padding: 25px;
}

@media screen and (min-width: 1280px) {

	body {
		font-size: 16px;
	}

	.container {
		max-width: 1200px;
	}

}

@media screen and (max-width: 767px) {

	.section {
		padding-left: 20px;
		padding-right: 20px;
	}

}

header {
	padding: 20px;
	color: #FFF;
	background-color: #405c71;
	display: flex;
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
	margin: 0 auto;
}

header p {
	font-size: 90%;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {

	.site-nav li {
		width: 50%;
	}

}



/* End Site Navigation */


.content-area {
	background-color: #FFF;
	padding-bottom: 40px;
	padding-top: 40px;
}

@media screen and (max-width: 767px) {
	.content-area {
		padding-top: 20px;
	}
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar {
	color: #999;
	font-size: 85%;
}

.sidebar h3 {
	font-size: 138.5%;
	margin-bottom: 7px;
}

.info-box {
	background-color: #efeedb;
	border: 5px solid #e6e5c2;
	padding: 20px 40px 7px 40px;
	margin-bottom: 1em;
}

@media screen and (max-width: 767px) {

	.hide-small {
		display: none;
	}

}

.box-a {
	background-color: #e7eff5;
	padding: 20px 20px 0 20px;
	border: 2px solid #d3dee7;
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	.box-a {
		margin-bottom: 15px;
	}
}


@media screen and (max-width: 1023px) {
	.push-down-sm {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
	.push-down-sm {
		margin-bottom: 15px;
	}
}

@media (min-width: 800px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}


footer {
	text-align: center;
	font-size: 85%;
	color: #FFF;
	padding-bottom: 20px;
	padding-top: 20px;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}